@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    text-align: center;
    /*background-color: #0d7a0e;*/
    height: 100vh;
    width: 100vw;    
}
form #ititulo{
    margin-bottom: 30px;
}
form input {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form label {
    display: inline-block;
    width: 100%; /* Faz a label ocupar 100% da largura do contêiner pai */
    max-width: 20%; /* Define a largura máxima desejada */
    box-sizing: border-box; /* Inclui a largura da borda e o preenchimento na largura total */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#login {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*sombra*/

}
img{
    width: 300px;
}

#ititulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#msg {
    color: red;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 15px;
}
#iemail{
    width: 85%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    display: block;
    margin-left: 15px;
}
#senhaInput{
    width: 85%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    display: block;
    margin-left: 15px;
}

#senhaInputContainer {
    position: relative;
}

#toggleSenha {
    position: absolute;
    right: 0px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
/* Estilos para Computador */
/*@media screen and (min-width: 1025px) {
    body {
        background-image: linear-gradient(to top, rgba(6, 161, 6, 0.456), 
        rgb(227, 247, 6));
    }
    form#login{
        width: 50%;
        height: 30%;
    }
        
    .conteiner #img{
        float: left;
        width: 60%;
        height: 70%;
    }
    form#login{
        float: right;
        width: 45%;
    }
}
/* Estilos para Tablet */
/*@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to top, rgba(6, 161, 6, 0.456), 
        rgb(227, 247, 6));
    }
    form#login{
        width: 50%;
        height: 30%;
    }
        
    .conteiner #img{
        float: left;
        width: 60%;
        height: 45%;
    }
    form#login{
        float: right;
        width: 45%;
    }
    
}

/* Estilos para iPhone */
/*@media screen and (min-width: 620px) and (max-width: 767px)  {
    body {
        background-image: linear-gradient(to top, rgba(6, 161, 6, 0.456), 
        rgb(227, 247, 6));
    }
    form#login{
        width: 50%;
        height: 30%;
    }
        
    .conteiner #img{
        float: left;
        width: 40%;
        height: 30%;
    }
    form#login{
        float: right;
        width: 45%;
    }
}
/* Estilos para iPhone menor*/
/*@media screen and (min-width: 320px) and (max-width: 620px)  {
    body {
        background-image: linear-gradient(to top, rgba(6, 161, 6, 0.456), 
        rgb(227, 247, 6));
    }
}*/




